In [1]:
name= p*4
p=2

NameError: name 'p' is not defined

In [3]:
int("hello")

ValueError: invalid literal for int() with base 10: 'hello'

In [4]:
20/0

ZeroDivisionError: division by zero

In [5]:
import math

try:
    result = math.exp(999)  # This will likely cause an OverflowError
    print(result)
except OverflowError:
    print("The result is too large to be represented as a float.")

The result is too large to be represented as a float.

In [ ]:
10**100000000000000000000000000000

In [1]:
import math

try:
    result = math.exp(999)  # This will likely cause an OverflowError
    print(result)

SyntaxError: unexpected EOF while parsing (843332131.py, line 5)

In [2]:
12name=2

SyntaxError: invalid syntax (3138235707.py, line 1)

In [3]:
"hello"+2

TypeError: can only concatenate str (not "int") to str

Aliâ€™s basic salary is input through the keyboard. His dearness allowance is 40% of basic salary, and house rent allowance is 20% of basic salary. Write a program to calculate his gross salary.

In [6]:
BS=float(input("Enter Basic Salary of Ali:$")) # Ali Basic Salary

DA=0.4*BS # Calculating Dearness Allowance
HRA=0.2*BS # Calculating House Rent Allowance
GS=BS+DA+HRA # Gross Salary

print("Dearness Allowance $",DA)

print("House Rent Allowance $",HRA)

print("Gross Salary $",GS)

Enter Basic Salary of Ali:$1000
Dearness Allowance $ 400.0
House Rent Allowance $ 200.0
Gross Salary $ 1600.0

The distance between two cities (in km) is input through the keyboard. Write a program to convert and print this distance in meters, feet, inches and centimeters.

In [7]:
Dkm=float(input("Enter Distance between city A and city B in km"))

Dm=Dkm*1000
Dft=Dkm*3280.84
Din=Dkm*39370.1
Dcm=Dkm*100000

print("Distance in m", Dm)
print("Distance in ft", Dft)
print("Distance in inch", Din)
print("Distance in cm", Dcm)

Enter Distance between city A and city B in km2
Distance in m 2000.0
Distance in ft 6561.68
Distance in inch 78740.2
Distance in cm 200000.0

If the marks obtained by the students in five different subjects are input through the keyboard, find out the aggregate marks and percentage marks obtained by the student. Assume that the maximum marks that can be obtained by a student in each subject is 100.

In [12]:
py=float(input("Enter marks of physics"))
math=float(input("Enter marks of maths"))
cy=float(input("Enter marks of chemistry"))
eng=float(input("Enter marks of english"))
art=float(input("Enter marks of arts"))

total=py+math+cy+eng+art

per=((total)/500)*100

print("Total is", total)
print("Percentage is", per,"%")

Enter marks of physics89
Enter marks of maths87
Enter marks of chemistry88
Enter marks of english78
Enter marks of arts78
Total is 420.0
Percentage is 84.0 %

Temperature of a city in Fahrenheit degrees is input through the keyboard. Write a program to convert this temperature into centigrade degrees.

In [16]:
F=float(input("Temperature in Farenheit"))
C=(F-32)*(5/9)
C=round(C,2)
print("The temperature in centigrade will be",C,"Celcius")

Temperature in Farenheit67
The temperature in centigrade will be 19.44 Celcius

In [17]:
F=float(input("Temperature in Farenheit"))
C=(F-32)*(5/9)

print("The temperature in centigrade will be %.2f",C,"Celcius")

Temperature in Farenheit67
The temperature in centigrade will be %.2f 19.444444444444446 Celcius

The length & breadth of a rectangle are input through the keyboard. Write a program to calculate the area and perimeter of the rectangle.

In [18]:
l=(float(input("Enter length")))
b=(float(input("Enter breadth")))
A=l*b
P=(2*l)+(2*b)
print("Area",A)
print("Perimeter",P)

Enter length4
Enter breadth5
Area 20.0
Perimeter 18.0

The radius of circle is input through the keyboard. Write a program to calculate the area and circumference of the circle.

In [19]:
R=float(input("Enter Radius of circle"))
pi=3.142
A=pi*R**2
C=2*pi*R
print("Area", A)
print("Circumference",C)

Enter Radius of circle4
Area 50.272
Circumference 25.136

Two numbers are input through the keyboard into two locations C and D. Write a program to interchange the contents of C and D.

In [20]:
C=3
D=6

E=C #E=3
C=D #C=6
D=E #D=3

print("Value of C:",C)
print("Value of D:",D)

Value of C: 6
Value of D: 3

If a five-digit number is input through the keyboard, write a program to calculate the sum of its digit.

In [29]:
num=int(input("Enter five digit number"))
sum=0
a=num%10
num=num/10
sum=sum+a
a=num%10
num=num/10
sum=sum+a
a=num%10
num=num/10
sum=sum+a
a=num%10
num=num/10
sum=sum+a
a=num%10
sum=sum+a
print("sum of 5 digits=",sum)

Enter five digit number54321
sum of 5 digits= 16.063100000000404

In [30]:
54320%10

0

In a town, the percentage of men is 52. The percentage of total literacy is 48. If total percentage of Literate men is 35 of the total population, write a program to find the total number of illiterate men and women if the population of the town is 80,000.

In [31]:
p=80000
m=0.52*80000 # Total population of men
f=0.48*80000 #Total population of female
TIL=0.52*80000 #Total ill people in the town

mil=0.65*m
fil=TIL-mil

print("Total population of illiterate men",mil)
print("Total population of illiterate female",fil)

Total population of illiterate men 27040.0
Total population of illiterate female 14560.0

If the total selling price of 15 items and the total profit earned on them is input through the keyboard, write a program to find the cost price of one item.

In [32]:
sl=float(input("enter selling price of 15 items"))
p=(float(input("enter profit earned")))
cp=sl-p
cp_1item=cp/15
print("Cost price of single item:",cp_1item)

enter selling price of 15 items180
enter profit earned30
Cost price of single item: 10.0

In [34]:
sl=float(input("enter selling price of n items"))
p=(float(input("enter profit earned")))
n=int(input("enter number of item"))
cp=sl-p
cp_1item=cp/n
print("Cost price of single item:",cp_1item)

enter selling price of n items180
enter profit earned30
enter number of item15
Cost price of single item: 10.0