**Type Hinting**

In [3]:
x: str = "10"
y: int = 3
z = x * y
print(z)

101010

In [4]:
def greet(name: str, age: int)->None:
  print(f"Hello {name}, you are {age} years old")
greet("John", 13)

Hello John, you are 13 years old

In [5]:
def greet(name: int, age: str)->None:
  print(f"Hello {name}, you are {age} years old")
greet("John", 13)

Hello John, you are 13 years old

In [6]:
def add(num1: int, num2: int)->int:
  return num1 + num2
add_value= add(10, 20)
print(add_value)

30

In [8]:
1,2,3,4,5

(1, 2, 3, 4, 5)

In [9]:
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [11]:
["fruits", "vegetables", "grains"]

['fruits', 'vegetables', 'grains']

In [7]:
print([1,2,3,4,5,6,7,8,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
print(*[1,2,3,4,5,6,7,8,9])

1 2 3 4 5 6 7 8 9

In [17]:
for num in range(1,10):
  print(num)

1
2
3
4
5
6
7
8
9

In [18]:
def add_multiple_values():
  total=0
  for num in range(1,10):
    total+=num
  return total
add_multiple_values()

45

In [19]:
1+2+3+4+5+6+7+8+9

45

In [21]:
def add_multiple_values(args):
  total=0
  for num in args:
    total+=num
  return total
add_multiple_values([1,2,3,4])

10

In [22]:
def add_multiple_values(args):
  total=0
  for num in args:
    total+=num
  return total
add_multiple_values(1,2,3,4)

TypeError: add_multiple_values() takes 1 positional argument but 4 were given

In [24]:
def add_multiple_values(a,b,c,d):
  total=0
  for num in args:
    total+=num
  return total
add_multiple_values(1,2,3,4)

NameError: name 'args' is not defined

In [23]:
def add_multiple_values(*args):
  total=0
  for num in args:
    total+=num
  return total
add_multiple_values(1,2,3,4)

10

In [25]:
def add_multiple_values(*args):
  total=0
  for num in args:
    total+=num
  return total
add_multiple_values(1,2,3,4,3.13, "hello", [1,2,3])

TypeError: unsupported operand type(s) for +=: 'float' and 'str'

In [26]:
def add_multiple_values(*args):
  total=0
  for num in args:
    total+=num
  return total
add_multiple_values(1,2,3,4,3.13)

13.129999999999999

In [29]:
def display():
  pass
display()

In [30]:
def display(product, price):
  pass

display(product="laptop", price=10000)

In [31]:
def display(product, price):
  pass

display(product="laptop", price=10000, brand="HP")

TypeError: display() got an unexpected keyword argument 'brand'

In [32]:
def display(*args):
  pass

display(product="laptop", price=10000, brand="HP")

TypeError: display() got an unexpected keyword argument 'product'

In [33]:
def display(*args):
  pass

display("laptop", 10000, "HP")

In [35]:
def display(**kwargs):
  pass

display(product="laptop", price=10000, brand="HP")

In [36]:
def display(**kwargs):
  print(kwargs)
  print(type(kwargs))

display(product="laptop", price=10000, brand="HP")

{'product': 'laptop', 'price': 10000, 'brand': 'HP'}
<class 'dict'>

In [39]:
def display(**kwargs):
  print(kwargs)
  print(type(kwargs))

display(1,2,3,4,product="laptop", price=10000, brand="HP")

TypeError: display() takes 0 positional arguments but 4 were given

In [40]:
def display(*args, **kwargs):
  print(args)
  print(kwargs)
  print(type(args))
  print(type(kwargs))

display(1,2,3,4,product="laptop", price=10000, brand="HP")

(1, 2, 3, 4)
{'product': 'laptop', 'price': 10000, 'brand': 'HP'}
<class 'tuple'>
<class 'dict'>

In [41]:
def display(*args, first,**kwargs):
  print(args)
  print(kwargs)
  print(type(args))
  print(type(kwargs))

display(1,2,3,4,product="laptop", price=10000, brand="HP")

TypeError: display() missing 1 required keyword-only argument: 'first'

In [43]:
def display(*args, first,**kwargs):
  print(args)
  print(first)
  print(kwargs)
  print(type(args))
  print(type(first))
  print(type(kwargs))

display(1,2,3,4,first=3.4, product="laptop", price=10000, brand="HP")

(1, 2, 3, 4)
3.4
{'product': 'laptop', 'price': 10000, 'brand': 'HP'}
<class 'tuple'>
<class 'float'>
<class 'dict'>

In [38]:
student={"Name":"Ayaan","Age":20, "gender":"Male"}
print(type(student))

<class 'dict'>

#Scope of Variable

In [45]:
name="Ayaan"
def display():
  print(name)
display()

Ayaan

In [46]:
name="Ayaan"
def display():
  name="Ali"
  print(name)
display()

Ali

In [48]:
name="Ayaan"
def display(name_name):
  print(name_name)
display(name)

Ayaan

In [49]:
name="Ayaan" #Global variable
def display(name_name):
  new_name="Ali" #Local variable
  print(name_name)
  print(new_name)
display(name)

Ayaan
Ali

In [50]:
name="Ayaan" #Global variable

def display(name_name):
  new_name="Ali" #Local variable
  print(name_name)
  print(new_name)

display(name)

print(name)
print(new_name)

Ayaan
Ali
Ayaan

NameError: name 'new_name' is not defined

In [51]:
name="Ayaan" #Global variable

def display(name_name):
  global new_name="Ali" #Making Local variable to a global variable
  print(name_name)
  print(new_name)

display(name)

print(name)
print(new_name)

SyntaxError: invalid syntax (ipython-input-1288889020.py, line 4)

In [52]:
name="Ayaan" #Global variable

def display(name_name):
  global new_name
  new="Ali" #Making Local variable to a global variable
  print(name_name)
  print(new_name)

display(name)

print(name)
print(new_name)

Ayaan

NameError: name 'new_name' is not defined

In [53]:
name="Ayaan" #Global variable

def display(name_name):
  global new_name #Making Local variable to a global variable
  new_name="Ali"
  print(name_name)
  print(new_name)

display(name)

print(name)
print(new_name)

Ayaan
Ali
Ayaan
Ali

#Doc String

In [55]:
def add_two(x,y):
  return x+y

add_values= add_two(1,2)
print(add_values)

3

In [60]:
def add_two(x,y):
  return x+y

add_values= add_two(1,2)
print(add_values)

help(add_two)

3
Help on function add_two in module __main__:

add_two(x, y)

In [57]:
def add_two(x,y):
  """ This function is about adding two numbers"""
  return x+y

add_values= add_two(1,2)
print(add_values)

3

In [58]:
def add_two(x,y):
  """ This function is about adding two numbers"""
  # This funtion is about adding two numbers
  return x+y

add_values= add_two(1,2)
print(add_values)

3

In [59]:
def add_two(x,y):
  """ This function is about adding two numbers"""
  # This funtion is about adding two numbers
  return x+y

add_values= add_two(1,2)
print(add_values)

help (add_two)

3
Help on function add_two in module __main__:

add_two(x, y)
    This function is about adding two numbers

In [61]:
def add_two(x, y):
  """Adds two numbers together.

  This function takes two numerical arguments and returns their sum.

  Args:
    x (int or float): The first number.
    y (int or float): The second number.

  Returns:
    (int or float): The sum of x and y.
  """
  # This funtion is about adding two numbers
  return x + y

add_values = add_two(1, 2)
print(add_values)

help(add_two)

3
Help on function add_two in module __main__:

add_two(x, y)
    Adds two numbers together.

    This function takes two numerical arguments and returns their sum.

    Args:
      x (int or float): The first number.
      y (int or float): The second number.

    Returns:
      (int or float): The sum of x and y.