USER DEFINED FUNCTION

In [2]:
num1=int(input("Enter Number 1:"))
num2=int(input("Enter Number 2:"))
result=num1+num2
print("result=",result)

num1=int(input("Enter Number 1:"))
num2=int(input("Enter Number 2:"))
result=num1+num2
print("result=",result)

Enter Number 1:9
Enter Number 2:5
result= 14
Enter Number 1:4
Enter Number 2:5
result= 9

def functionname (parameter):
   
    statement 1
    statement 2
    statement 3
    ----

functionname(argument)

Non Return functions

In [5]:
def program(): #defining function
  print("Hello")

In [6]:
def program(): #defining function
  print("Hello")

program() #call function

Hello

In [7]:
def program(): #defining function
  print("Hello")

program() #call function
program()
program()

Hello
Hello
Hello

In [8]:
def addition():

  num1=int(input("Enter Number 1:"))
  num2=int(input("Enter Number 2:"))
  result=num1+num2
  print("result=",result)

addition()

Enter Number 1:5
Enter Number 2:6
result= 11

In [9]:
def addition():

  num1=int(input("Enter Number 1:"))
  num2=int(input("Enter Number 2:"))
  result=num1+num2
  print("result=",result)

addition()
addition()

Enter Number 1:5
Enter Number 2:6
result= 11
Enter Number 1:7
Enter Number 2:8
result= 15

In [10]:
def welcome_guest():
  name=input("Enter Name:")
  print("Welcome ",name)

welcome_guest()

Enter Name:Ali
Welcome  Ali

In [12]:
def check_hydration():
  glass=8
  drank=(int(input("How many glasses of water did you drink today: ")))
  if drank>=glass:
    print("You are hydrated")
  else:
    print("You are not hydrated")

check_hydration()

How many glasses of water did you drink today: 5
You are not hydrated

Returned Function

In [13]:
def addition():

  num1=int(input("Enter Number 1:"))
  num2=int(input("Enter Number 2:"))
  result=num1+num2
  return result

addition()

Enter Number 1:5
Enter Number 2:6

11

In [16]:
def addition():

  num1=int(input("Enter Number 1:"))
  num2=int(input("Enter Number 2:"))
  result=num1+num2
  return result

outcome=addition()
print("outcome= ",outcome)

Enter Number 1:4
Enter Number 2:5
outcome=  9

In [17]:
def addition():

  num1=int(input("Enter Number 1:"))
  num2=int(input("Enter Number 2:"))
  result=num1+num2
  return result

outcome=addition()
print("outcome= ",outcome)
outcome2=outcome*3
print("outcome2=", outcome2)

Enter Number 1:5
Enter Number 2:6
outcome=  11
outcome2= 33

In [18]:
def get_user_email():
  email=input("Enter Email:")
  return email

user=get_user_email()
print("user=",user)

Enter Email:abc@gmail.com
user= abc@gmail.com

PARAMETERIZED FUNCTION

In [19]:
def addition(num1,num2):
  result=num1+num2
  return result

added_value=addition(5,6)
print("added_value=",added_value)

added_value= 11

In [20]:
def addition(num1,num2):
  result=num1+num2
  return result

added_value=addition(5,6)

In [21]:
def addition(num1,num2):
  result=num1+num2
  return result

addition(5,6)

11

In [22]:
def addition(num1,num2):

  return (num1+num2)

added_value=addition(5,6)
print("added_value=",added_value)

added_value= 11

Non Parameterized Functions (already done)

In [27]:
def addition(num1,num2):
   return (num1+num2)

def subtraction(num1,num2):
   return (num1-num2)

def multiplication(num1,num2):
   return (num1*num2)

def division(num1,num2):
   if num2!=0:
    return (num1/num2)
   else:
    print("assign non zero value to num2")

added_value=addition(5,6)
print("added_value=",added_value)

substracted_value=subtraction(5,6)
print("substracted_value=",substracted_value)

multiplied_value=multiplication(5,6)
print("multiplied_value=",multiplied_value)

division_value=division(5,0)
print("division_value= ",division_value)

added_value= 11
substracted_value= -1
multiplied_value= 30
assign non zero value to num2
division_value=  None

Positional Arguments

In [28]:
def greet(name,age):
  print(f"name={name} and your age={age}")

greet("John",25)

name=John and your age=25

In [29]:
def greet(name,age):
  print(f"name={name} and your age={age}")

greet(25,"john")

name=25 and your age=john

In [30]:
def greet(name,age):
  print(f"name={name} and your age={age}")

greet(age=25,name="john") #keyword argument

name=john and your age=25

In [31]:
def greet(name,age):
  print(f"name={name} and your age={age}")

greet(age=25,"john") #keyword argument

SyntaxError: positional argument follows keyword argument (ipython-input-1172214175.py, line 4)

In [32]:
def greet(name,age):
  print(f"name={name} and your age={age}")

greet("john", age=25)

name=john and your age=25

In [33]:
def greet(name,age):
  print(f"name={name} and your age={age}")

greet(25,name="john")

TypeError: greet() got multiple values for argument 'name'

Optional and Default Parameters

In [34]:
def greet(name,age=16):
  print(f"name={name} and your age={age}")

greet("john")

name=john and your age=16

In [35]:
def greet(name,age=16):
  print(f"name={name} and your age={age}")

greet("john")
greet("ali")
greet("ibrahim")
greet("jibran",18)

name=john and your age=16
name=ali and your age=16
name=ibrahim and your age=16
name=jibran and your age=18